.demo {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.header_line {
  background-color: rgb(250, 221, 226);
  padding: 3px 15px;
  border-radius: 20px;
  color: rgb(253, 3, 112);
  font-size: 1.2rem;
  max-width: fit-content;
  margin: 2rem auto;
}

.primary_heading {
  font-size: 6rem;
  line-height: 7rem;
  padding: 0;
  margin: 0;
  color: rgb(54, 53, 53);
}

h1,
h2 {
  color: rgb(54, 53, 53);
}

hr {
  border: 6px dotted rgba(0, 149, 255, 0.469);
  border-bottom: none;
  width: 20%;
  margin: 70px auto;
}

.blue {
  color: rgb(0, 149, 255);
}

.tagline {
  font-size: 1.3rem;
  color: rgb(137, 136, 136);
  max-width: 40%;
  margin: 1rem auto;
}

.men {
  height: 19rem;
  position: absolute;
  top: 0;
  left: 0;
}

.women {
  height: 23rem;
  position: absolute;
  top: 14rem;
  right: 0;
}

.btn_primary {
  background-color: rgb(0, 149, 255);
  padding: 0.7rem 1.5rem;
  border-radius: 2rem;
  outline: none;
  border: none;
  color: white;
  font-size: 1.2rem;
  margin-top: 1rem;
}

.btn_primary:hover {
  background-color: rgb(9, 87, 143);
  transition: 0.5s ease-in-out;
}

.show_flex {
  display: flex;
  gap: 3rem;
  margin: 5rem 2rem 2rem 2rem;
}

.image1,
.image2 {
  min-width: 10rem;
  max-height: 25rem;
  border-radius: 1rem;
}

.image1 {
  flex-basis: 55%;
}

.image2 {
  flex-basis: 50%;
}

.image1:hover,
.image2:hover,
.card:hover {
  box-shadow: 5px 5px 15px #888888;
  transition: 0.5s ease-in-out;
}

.position {
  position: relative;
}

.blob {
  position: absolute;
  height: 10rem;
  top: 25rem;
  left: 8rem;
}

.brand_heading {
  padding: 3rem 0 1rem 0;
  width: 50%;
  display: flex;
  margin: auto;
}

.brand_img {
  width: 70vw;
}

.cards_container {
  display: flex;
  justify-content: space-around;
}

.card {
  flex-basis: 20%;
  background-color: #ffdee9;
  background-image: linear-gradient(45deg, #ffdee9 0%, #b5fffc 100%);
  border-radius: 1rem;
  padding: 1.5rem 0;
}

.card_img {
  width: 65px;
}

.card_desc {
  max-width: 90%;
  display: flex;
  margin: auto;
}

.card_title {
  margin-bottom: 0.5rem;
}

.developers {
  position: relative;
}

.developers_heading {
  position: absolute;
  font-size: 6rem;
  top: 0;
  left: 17rem;
}

.span_heading {
  position: absolute;
  font-size: 6rem;
  top: 11rem;
  left: 25rem;
  font-weight: bold;
  color: rgb(54, 53, 53);
  margin-left: 3rem;
}

.dev_para {
  position: absolute;
  max-width: 35%;
  text-align: left;
  top: 5.5rem;
  right: 15rem;
}

.set_dev {
  width: 80vw;
  margin: 12rem 0 7rem 0;
}

.footer {
  background-color: #ffdee9;
  background-image: linear-gradient(45deg, #ffdee9 0%, #b5fffc 100%);
  position: absolute;
  width: 97%;
  margin: 0;
  padding: 2rem;
  bottom: 0;
  height: 10rem;
}

.input_div {
  position: relative;
}

.input {
  outline: none;
  position: absolute;
  top: 1rem;
  left: 30rem;
  border: none;
  padding: 0.95rem 2rem;
  width: 20rem;
  border-radius: 1.5rem;
}

.submit {
  position: absolute;
  right: 27rem;
  width: 8rem;
}
